.body-item-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    margin-top: 250px;
    margin-left: 12%;
    color: transparent; /* Set the text color to transparent */
    background: linear-gradient(to right, #320440, #7d0a0a);
    -webkit-background-clip: text; /* For webkit browsers */
    background-clip: text; /* For other browsers that support it */
    text-align: left;
}