.home-footer {
    background-color: rgb(50, 4, 64);
    width: 100%;
    color: #ffffff;
    padding-bottom: 1rem;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.home-footer-container {
    position: relative;
    display: flex;
    background-color: rgb(50, 4, 64);
    color: #ffffff;
    padding: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 1rem;
    margin-top: 300px;
    height: 500px;
    border-top: 2px solid #320440;
}

.hf-c-small {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-footer-content-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
}

.home-footer-slogan {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 35px;
    width: 350px;
    text-align: center;
    margin-top: 4%;
    margin-left: 10%;
}

.home-footer-logo {
    transform: rotate(-8deg);
    width: 60%;
    margin-top: 10%;
}

.home-footer-content-right {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.home-footer-socials {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: center;
    width: 100%;
}

.home-footer-social-icon {
    width: 50px;
    height: 50px;
    margin: 0 5%;
}

.home-footer-legal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}

.home-footer-legal-item {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin: 0 2%;
}

.home-footer-legal-item:nth-child(2) {
    border-left: 1px solid #e5dbe8;
    border-right: 1px solid #e5dbe8;
    padding: 0 2%;
}

.home-footer-rights-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    padding-bottom: 2rem;
    margin: 5px;
}


