.settings-header {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    justify-content: center;
}

.settings-header-title {
    margin: 5px 20px;
    font-weight: 700;
    font-size: 2.2em;
    color: #343a40;
}

.settings-header-slogan {
    margin: 0 0 20px 20px;
    font-weight: 400;
    font-size: 1em;
    color: #6c757d;
}

.settings-header-separator {
    border: 0;
    margin: 0;
    border-top: 1px solid #dee2e6;
}
