.settings {
    margin-top: 20px;
}

.settings-sub-container {
    display: flex;
    flex-direction: row;
}

.settings-sub-container-small {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.settings-topics {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.settings-left {
    width: 15%;
    height: 100%;
}

.settings-right {
    width: 85%;
    height: 100%;
}