.chart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 0.5rem;
    box-shadow: 0 0 4px 4px var(--shadow-color);
    margin: 1rem;
    position: relative;
}

.chart-container-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1.5rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .chart-container {
        width: 100%; /* Full width for mobile */
        height: auto; /* Let the height adjust based on content */
        margin-bottom: 1rem; /* Add space between stacked widgets */
    }
}
