.dsb {
    --background-color: #ffffff;
    --text-color: #320440;
    --secondary-color: rgba(123, 103, 128, 0.89);
    --shadow-color: rgba(50, 4, 64, 0.19);
    --chart-color: #000000;
    --red-color: #7b0404;
    --green-color: #0b7b04;
    --blue-color: rgb(18,12,87);
    --yellow-color: rgb(187, 169, 14);
    --chart-header-color: rgba(50,4,64,0.68);
    --chart-row-color: #ffffff;
    --chart-odd-row-color: rgba(50,4,64,0.05);
    --chart-text-color: #320440;
}

.dsb.darkmode {
    --background-color: #0f1425;
    --text-color: #31d8ed;
    --secondary-color: rgba(116, 165, 218, 0.89);
    --shadow-color: rgba(49, 216, 237, 0.19);
    --chart-color: #24cbe1;
    --red-color: #fb1c1c;
    --green-color: #1cfb1c;
    --blue-color: #1c1cfb;
    --yellow-color: #f7f71c;
    --chart-header-color: #062227;
    --chart-row-color: #0f1425;
    --chart-odd-row-color: #1c1c1c;
    --chart-text-color: #31d8ed;
}


.dsb {
    background-color: var(--background-color);
    color: var(--text-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dsb-footer {
    position: absolute;
}