.advices {
    width: 100%;
}

.advices-content {
    margin: 3% 4%;
}

.advices-request {
    width: 80%;
}

.advices-info {
    margin-top: 4%;
    width: 80%;
}

@media (max-width: 700px) {
    .advices-request {
        width: 100%;
    }

    .advices-info {
        width: 100%;
        margin: 0;
    }
}