.colors {
    --background-color: #ffffff;
    --text-color: #320440;
    --secondary-color: rgba(123, 103, 128, 0.89);
    --shadow-color: rgba(50, 4, 64, 0.19);
    --chart-color: #000000;
    --red-color: #7b0404;
    --green-color: #0b7b04;
    --blue-color: rgb(18,12,87);
    --yellow-color: rgb(187, 169, 14);
    --chart-header-color: rgba(50, 4, 64, 0.12);
    --chart-row-color: #ffffff;
    --chart-odd-row-color: rgba(50,4,64,0.05);
    --chart-text-color: #320440;
}