.data-center-flat-icons {
    position: absolute;
    top: 4%;
    right: 5%;
    border-radius: 2rem;
    box-shadow: 0 0 4px 4px rgba(50, 4, 64, 0.09);
}

.data-center-flat-icons-small {
    margin: 0 20px 20px 20px;
    border-radius: 2rem;
    box-shadow: 0 0 4px 4px rgba(50, 4, 64, 0.09);
}

@media print {
    body * {
        visibility: hidden;
    }
    .printable, .printable * {
        visibility: visible;
    }
    .printable {
        position: absolute;
        left: 0;
        top: 0;
    }
}
