.profile-container {
    margin-top: 20px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.profile-pic {
  margin: 2% 0 0 10%;
}

.profile-pic img {
  border-radius: 50%;
}

.profile-content-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile-content-item label {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 10px;
}

.profile-content-item input {
  padding: 15px;
  font-size: 0.8em;
  border-radius: 15px;
  border: 1px solid #dee2e6;
  width: 60%;
}

.profile-content-item input:focus {
  outline: none;
  border: 1px solid #007bff;
}

.profile-content-item input::placeholder {
  color: #adb5bd;
}

.profile-btns {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    float: right;
}

@media (max-width: 700px) {
  .profile-content {
    margin-left: 40px;
  }

  .profile-pic {
    margin: 2% 0 0 0;
  }

  .profile-content-item input {
    width: 80%;
  }

  .profile-btns {
    margin-right: 0;
  }
}